In [1]:
from pathlib import Path

In [2]:
folder_name = "groups_new/0.1"
group_folder = Path(folder_name)
group_dict = {}


# Read the contents of each file
for i in range(8):
    file_path = group_folder / f"{i}.txt"
    if file_path.exists():
        with open(file_path, "r") as f:
            contents = f.read().split()
            group_dict[i] = set(map(int, contents))  # Convert to set of integers
            print(f"File {i}.txt contents: {group_dict[i]}")

File 0.txt contents: {1019269, 7326982, 1636752, 36119, 5973402, 5759258, 7977115, 2245668, 2310185, 3151666, 5123639, 8337722, 9838013, 313406, 5079234, 7610437, 3414356, 1903702, 2864987, 3546460, 7227357, 1650157, 3378420, 7983227}
File 1.txt contents: {3867265, 9407874, 9617923, 1827204, 1875719, 8573194, 6632459, 4013838, 5346580, 8739734, 2146331, 1881249, 3682850, 7375018, 3968043, 2390199, 4694328, 8337977, 7859387, 1967551, 5627459, 1976156, 1502181, 2487143, 3573480, 8492526, 3318135}
File 2.txt contents: {299266, 5494918, 9112978, 5310099, 9913368, 3211679, 2143011, 2493732, 4043951, 1662128, 1899443, 766666, 6474572, 8467917, 5952846, 6733657, 7099614, 3709920, 8885088, 4762983, 6571751, 6091882, 778352, 9197172, 303222, 4465023}
File 3.txt contents: {8754702, 1722522, 7573149, 7943327, 1781152, 6854178, 6973347, 6619554, 3982371, 3690931, 820789, 2929847, 8514745, 4924862, 7758918, 1592519, 859464, 4792268, 2364370, 2294995, 1735893, 5471704, 6981465, 7455579, 1717215, 3034976, 6456034, 2341732, 1017962, 3572203, 5390332, 5890803, 7608435, 2607611, 1075836}
File 4.txt contents: {6896128, 3167746, 8525830, 6190089, 3762186, 4506634, 7769613, 8311321, 1838110, 4561957, 2178600, 6250025, 1893937, 2068538, 8668219, 8983100, 1792062, 3761215, 4177472, 627267, 9055303, 4699732, 2198613, 1803862, 6359135, 2197088, 7768165, 3639400, 4364398, 6235784, 9246351, 1977493, 7106722, 2517158, 4375719, 9883303, 2802855, 1923244, 7578802, 994483, 7157427, 3060426, 8436428, 210639, 8191186, 4043987, 1107178, 3738859, 2492140, 1199854, 3999471, 1278715, 5157661, 1261349, 1231151, 5286200, 4759887, 1328465, 8685905, 9434451, 7047032, 5935995, 664966, 7708038, 9624458, 929676, 3425174, 676247, 2996632, 1893815, 1857976, 2213823, 2609604, 9015240, 8614858, 1139153, 9029594, 7732703, 4434915, 8772587, 6812653, 3370989, 5449201, 2008055, 252413}
File 5.txt contents: {1821184, 8311303, 5708811, 8052240, 2850833, 2371092, 282648, 6338073, 4149784, 5467162, 6804509, 5072416, 7200804, 8827942, 6195751, 2523689, 6430250, 20524, 4780078, 7688753, 5520946, 2577969, 4252724, 3053621, 7150646, 3525176, 7176248, 2763835, 6620221, 5948990, 3274817, 5026370, 7829570, 632905, 5571660, 4287564, 2123854, 2859600, 1189457, 637522, 1858644, 4678740, 1922649, 9740891, 4584540, 9507933, 7176290, 6082662, 5076071, 6359156, 2782339, 7893124, 2751110, 6175884, 7608462, 3169935, 3144334, 667278, 5917842, 1760914, 755351, 1469079, 2451097, 349850, 4845722, 4479135, 3201701, 9478823, 1733799, 2099370, 8723116, 9414831, 9717937, 6988468, 2923700, 5456566, 2972345, 5003962, 3269819, 1849020, 3515580, 3183805, 1571523, 5600967, 1520842, 8764620, 2681549, 6353617, 4884177, 5518547, 628951, 4934872, 5063386, 1770205, 4219614, 2659552, 5857, 3968739, 8966374, 8809190, 8823527, 4494568, 4371692, 1755375, 3777264, 9821936, 6257907, 5282042, 8124669, 6743808, 7912193, 2078467, 6522117, 2457863, 2661134, 7497999, 9942801, 2295058, 3325209, 5665561, 5110043, 2845466, 2005792, 3969312, 2484519, 2925352, 1328936, 3843583, 1034539, 6303022, 242480, 3266352, 547634, 4395315, 8208692, 4553008, 3663158, 8883511, 2126135, 3187514, 8809274, 5311804, 7017274, 2844990, 1046331, 8798016, 3980099, 8746821, 486214, 1363784, 5510474, 5326154, 2316618, 397645, 3452749, 172879, 6232400, 7239499, 2960202, 1944394, 7295828, 4883284, 8127829, 7298388, 5220185, 5393242, 6794076, 8207196, 7415647, 6102880, 4218209, 2725215, 3040612, 4683624, 2269032, 3359593, 4936555, 1855337, 2489709, 7988076, 1987439, 4035953, 3746675, 3264884, 7463799, 5094777, 2789243, 3976574, 9510785, 1728386, 8057732, 4483973, 3398536, 1424265, 7393673, 9007496, 5977084, 296847, 8691603, 9281946, 6843802, 3234716, 4291494, 1079207, 1449384, 5445548, 7599023, 7009711, 3265457, 5263791, 4609460, 7066554, 1396156, 6358463, 1905088, 7039935, 2183616, 2354112, 3047364, 5371840, 1873346, 4188615, 2913224, 5538249, 852937, 2518989, 6688723, 2501588, 4193752, 8789465, 2261979, 2693089, 4613090, 3715043, 7774695, 8861672, 9257453, 588781, 9565165, 7463408, 6055410, 7814642, 5747188, 7326706, 1178614, 6201330, 2613240, 6861308, 1527293, 5561855}
File 6.txt contents: {4715906, 6416775, 1244778, 5852491, 7010316, 2689721, 9139060, 8006582, 2784376, 2328633, 8899867, 9100956}
File 7.txt contents: {7532833, 8320545, 4893032, 8221999, 1235151, 1952272, 4305650, 8427539, 6006813, 9671033, 7203421, 8048190}

In [3]:
from itertools import combinations

# Check for intersections
for (i, set1), (j, set2) in combinations(group_dict.items(), 2):
    intersection = set1.intersection(set2)
    if intersection:
        print(f"Intersection between file {i} and file {j}: {intersection}")

In [4]:
# Each file contains a list of space separated ids of the molecules in the group
# Create a df with the columns molecule_id and group_id

from pathlib import Path

import pandas as pd

folder_name = "groups_new/0.1"
group_folder = Path(folder_name)
group_folder.mkdir(exist_ok=True)

group_df = pd.DataFrame(columns=["molecule_id", "group_id"])

for i in range(8):
    with open(folder_name + "/" + str(i) + ".txt", "r") as f:
        contents = f.read().split()

        for j in range(len(contents)):
            group_df.loc[len(group_df)] = [contents[j], i]

group_df.to_csv(folder_name + "/group_df.csv", index=False)
group_df.head()

  molecule_id  group_id
0      313406         0
1     7227357         0
2     2245668         0
3     7977115         0
4     2310185         0

In [5]:
descFile = "sasa_pol_desc_newRot.csv"
features = ["pol", "psa", "n_donors", "nrotb", "n_acceptors", "logP"]
df = pd.read_csv(descFile)

df.head()

,mobleyID,sasa,ele,born,pol,wgt,logP,psa,num_atoms,n_acceptors,n_donors,volume,nrotb,rand1,rand2,rand3,rand4,rand5,dG_exp
0,mobley_7532833,191.812460,-0.304500,-7.186908,-7.491408,41.053,0.52988,23.79,3,1,0,58.432,0,0.470332,0.536774,0.855347,0.499103,0.956080,-3.88
1,mobley_2198613,213.240340,-0.083095,-1.414853,-1.497948,64.515,1.24510,0.00,3,0,0,68.632,0,0.285356,0.760770,0.580940,0.472225,0.702700,-0.63
2,mobley_9257453,301.361333,-1.277946,-7.817131,-9.095077,163.003,2.69900,20.23,9,1,1,146.728,0,0.552854,0.876311,0.052245,0.065610,0.940141,-7.29
3,mobley_755351,306.791942,-3.184943,-10.224205,-13.409148,123.155,1.27740,35.25,9,2,1,138.736,1,0.467881,0.116590,0.646711,0.159640,0.332809,-7.29
4,mobley_9729792,281.826444,-0.264551,-3.091874,-3.356425,92.141,2.05870,0.00,7,0,0,113.608,0,0.057479,0.547507,0.846293,0.333114,0.893130,-0.99

In [6]:
def get_group_id(molecule_id):
    id = molecule_id.split("_")[-1]
    try:
        group_id = group_df.loc[group_df["molecule_id"] == id, "group_id"].iloc[0]
        return group_id
    except IndexError:
        # print('No group id found for molecule id {}'.format(molecule_id))
        return None


get_group_id("mobley_8057732")

5

In [7]:
def add_group_id_column(df, group_df):
    # Apply the get_group_id function to each mobleyID
    df["group_id"] = df["mobleyID"].apply(get_group_id)
    return df


# Assuming your existing DataFrame is called 'molecules_df'
df = add_group_id_column(df, group_df)

In [8]:
df.head()

,mobleyID,sasa,ele,born,pol,wgt,logP,psa,num_atoms,n_acceptors,n_donors,volume,nrotb,rand1,rand2,rand3,rand4,rand5,dG_exp,group_id
0,mobley_7532833,191.812460,-0.304500,-7.186908,-7.491408,41.053,0.52988,23.79,3,1,0,58.432,0,0.470332,0.536774,0.855347,0.499103,0.956080,-3.88,7.0
1,mobley_2198613,213.240340,-0.083095,-1.414853,-1.497948,64.515,1.24510,0.00,3,0,0,68.632,0,0.285356,0.760770,0.580940,0.472225,0.702700,-0.63,4.0
2,mobley_9257453,301.361333,-1.277946,-7.817131,-9.095077,163.003,2.69900,20.23,9,1,1,146.728,0,0.552854,0.876311,0.052245,0.065610,0.940141,-7.29,5.0
3,mobley_755351,306.791942,-3.184943,-10.224205,-13.409148,123.155,1.27740,35.25,9,2,1,138.736,1,0.467881,0.116590,0.646711,0.159640,0.332809,-7.29,5.0
4,mobley_9729792,281.826444,-0.264551,-3.091874,-3.356425,92.141,2.05870,0.00,7,0,0,113.608,0,0.057479,0.547507,0.846293,0.333114,0.893130,-0.99,NaN

In [9]:
df.columns

Index(['mobleyID', 'sasa', 'ele', 'born', 'pol', 'wgt', 'logP', 'psa',
       'num_atoms', 'n_acceptors', 'n_donors', 'volume', 'nrotb', 'rand1',
       'rand2', 'rand3', 'rand4', 'rand5', 'dG_exp', 'group_id'],
      dtype='object')

In [10]:
df = df[
    [
        "mobleyID",
        "pol",
        "psa",
        "n_donors",
        "nrotb",
        "group_id",
        "dG_exp",
        "n_acceptors",
        "logP",
    ]
]

# Save the dataframe as a csv file
df.to_csv("groups_new/0.1/grouped_data.csv", index=False)

In [11]:
df["group_id"].value_counts()

group_id
5.0    250
4.0     85
3.0     35
1.0     27
2.0     26
0.0     24
7.0     12
6.0     12
Name: count, dtype: int64